/* 
form{
    width: 300px;
    height: 200px;
    margin:0 auto;
    text-align: center;
    line-height: 2px;
}
input:focus{
    background-color: lightblue;
}
h1:not(.special)
{
    color:green;
}
body{
    background-color: whitesmoke;
    color: green;
    font-size: large;
    text-align: center;
}

p::first-line{
    color: red;
    font-weight: bold;
}

p::first-letter{
    color: red;
    font-size: 30px;
    font-weight: bold;
}

p::before{
    content: '"';
    color: blue;
    font-size: 30px;
}
p::after{
    content: '"';
    color: blue;
    font-size: 30px;
}
ul{
    width: 40px;
}
ul li::marker{
    color: red;
    font-size: 30px;
} */